<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/doFind" method="POST" role="form">
            <legend>增加页面</legend>
            <div class="form-group">
                <label for="">用户名:name</label>
                <input type="text" name="name" class="form-control" id="user" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label for="">年龄：age</label>
                <input type="text" name="age" class="form-control" id="age" placeholder="请输入用户年龄">
            </div>  
            <button type="submit" class="btn btn-primary">添加</button>
        </form>
</div>
</body>
</html>